/* HEADER */

body {
  font-family: "BPreplay", sans-serif !important;
}

.make-bold {
  font-weight: bold;
}

.mainNav {
  background-color: transparent !important;
  -webkit-transition: all ease-out 0.5s !important;
  -moz-transition: all ease-out 0.5s !important;
  -o-transition: all ease-out 0.5s !important;
  transition: all ease-out 0.5s !important;
  width: 100vw !important;
}

.activeNav {
  background-color: rgba(34, 34, 34, 0.8) !important;
}

.text-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin: 1rem 0;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: #ffffff !important;
}

.orderNowNav {
  color: red !important;
}

/* Floating Button */
.floating-container-right {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 40px;
  /* margin: 35px 25px; */
  background-color: #4caf50;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  z-index: 100000;
  box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}

.floating-container-right:hover,
.floating-container-left-1:hover,
.floating-container-left-2:hover {
  -webkit-transform: translatey(5px);
  transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container-left-1 {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  left: 40px;
  /* margin: 35px 25px; */
  background-color: #4267b2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  z-index: 100000;
  box-shadow: 0 20px 20px -10px rgba(66, 103, 178, 0.5);
}

.floating-container-left-2 {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 100px;
  left: 40px;
  /* margin: 35px 25px; */
  background-color: #f56040;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  z-index: 100000;
  box-shadow: 0 20px 20px -10px rgba(245, 96, 64, 0.5);
}

.instagram-icon {
  font-size: 1.2rem;
}

.calling-button {
  display: flex;
  /* text-decoration: none; */
}

.calling-button:hover {
  text-decoration: none;
}

.material-icons {
  color: #ffffff;
}

/* SECTIONS GENERAL */

.section-bubble,
.section-bubble_type-b,
.section-bubble_type-a,
.section-bubble6,
.section-bubble5,
.section-bubble4,
.section-bubble3,
.section-bubble2 {
  margin-bottom: 20vw;
  position: relative;
}
.section-bubble:after,
.section-bubble_type-b:after,
.section-bubble_type-a:after,
.section-bubble6:after,
.section-bubble5:after,
.section-bubble4:after,
.section-bubble3:after,
.section-bubble2:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vw;
  background: url("") green;
  background-size: 100%;
  /* transform: translate(0, 100%); */
  top: 100%;
}

.section-bubble_type-a:after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

.section-bubble_type-b:after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 248'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='red'/></svg>");
}

.section-title {
  text-align: center;
}

.section-description {
  margin-bottom: 4em;
}

/* Coffee variety */

.coffee-variety-container {
  width: 100%;
}

.coffee-variety {
  width: 100%;
  height: auto;
}

.coffee-variety-mobile {
  width: 100%;
  height: auto;
  display: none;
}

/* SECTION 1 - HOME */

.header-background {
  background-image: url("../resources/cashier-view-test.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section-bubble1 {
  color: #ffffff;
  /* margin-top: 10%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 50%;
}
.box:hover > img {
  width: 100%;
  height: 100%;
}

/* SECTION 2 - ORDER NOW */

.section-bubble2 {
  background-color: #ffd036;
  padding-top: 5%;
}
.section-bubble2:after {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 248'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='%23ffd036'/></svg>");
}

.callingNumber {
  color: red;
}

.orderNow-button {
  margin-top: 30% !important;
}

/* SECTION 3 - PRICELIST */

.section-bubble3 {
  background-color: #ffffff;
  padding-top: 5%;
}
.section-bubble3:after {
  background-color: #2b2e34;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

/* SECTION 4 - ABOUT US */
.section-bubble4 {
  background-color: #2b2e34;
  padding-top: 5%;
}

.section-bubble4:after {
  background-color: #ffd036;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 1185 248'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='%232b2e34'/></svg>");
}

/* SECTION 5 - CONTACT US */

.section-bubble5 {
  background-color: #ffd036;
  padding-top: 5%;
}
.section-bubble5:after {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23ffd036' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

.mr-bunny-royal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 2rem 0;
}

.mr-bunny-royal {
  width: 40%;
  height: auto;
}

/* SECTION 6 - PHOTO GALLERY*/

.section-bubble6 {
  background-color: #ffffff;
  padding-top: 5%;
}
.section-bubble6:after {
  background-color: #333333;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

.main-title {
  font-size: 2rem;
}

.page-404-number {
  font-size: 6rem;
}

.pricelist_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pricelist {
  max-width: 60%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#contact a {
  color: red;
  text-decoration: none;
}

#contact a:hover {
  color: #323f45;
}

.maps iframe {
  width: 100%;
  height: 330px;
}

/* FOOTER */

.section-bubble7 {
  background: #333333;
  color: #ffffff;
  text-align: center;
}

.logo-footer {
  width: 150px;
}

.footer-col_white {
  color: #fff;
}

footer {
  width: 100%;
  min-height: 250px;
  padding: 10px 0 15px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0;
  margin-bottom: 8px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
  margin-bottom: 1em;
}

.social-media {
  color: #ccc;
  margin-left: 0.2em;
}

.find-us {
  color: #ccc;
  margin-left: 0.2em;
}

.not-found-page {
  height: 59.3%;
}

.not-found-page-container {
  height: 100vh;
}

.button-to-home {
  background-color: #ffd036 !important;
  border: 1px solid transparent !important;
}

.button-to-home:hover {
  filter: brightness(85%) !important;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap");

.card-container {
  position: relative;
  margin: 1rem 0;
}

.card-container .card {
  position: relative;
  /* width: 105%; */
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.card-container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd036;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.card-container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.card-container .card:after {
  content: "Mr Bunny";
  position: absolute;
  top: 55%;
  left: 0%;
  font-size: 5em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.card-container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.card-container .card:hover .imgBx {
  top: 0%;
  transform: translateY(-25%);
  /* bug  */
}

.card-container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 270px;
}

.card-container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.card-container .card:hover .contentBx {
  height: 210px;
}

.card-container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.card-container .card .contentBx .size,
.card-container .card .contentBx .color {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  margin: 0.5rem 0;
}

.card-container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.card-container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.card-container .card .contentBx .size h3,
.card-container .card .contentBx .color h3 {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.card-container .card .contentBx .size span {
  /* width: 26px; */
  margin: 0.2rem;
  padding: 0 0.3rem;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  /* margin: 0 5px; */
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.card-container .card .contentBx .size span:hover {
  /* other bug */
  background: #b90000;
}

.card-container .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.card-container .card .contentBx .color span:nth-child(2) {
  background: #ffd036;
}

.card-container .card .contentBx .color span:nth-child(3) {
  background: #1b2fe9;
}

.card-container .card .contentBx .color span:nth-child(4) {
  background: #080481;
}

.card-container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.card-container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.7s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pricelist {
    max-width: 90%;
    height: auto;
  }

  .lead {
    font-size: 0.8rem;
  }

  .mainNav {
    background-color: rgba(34, 34, 34, 0.8) !important;
  }

  .floating-container-right {
    bottom: 20px;
    right: 20px;
  }

  .floating-container-left-1 {
    bottom: 20px;
    left: 20px;
  }

  .floating-container-left-2 {
    bottom: 80px;
    left: 20px;
  }
  .coffee-variety {
    display: none;
  }

  .coffee-variety-mobile {
    display: flex;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .home-text {
    margin-top: 10%;
  }

  .pricelist {
    max-width: 90%;
    height: auto;
  }

  .lead {
    font-size: 0.8rem;
  }

  .logo-footer {
    width: 120px;
  }

  .product-title {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* GALLERY */

.close {
  font-size: 1.5rem;
}

.gallery-image img {
  /* opacity: 0.7; */
  cursor: pointer;
  margin: 1rem 0;
  width: 100%;
}
